{{define "admin_sidebar"}}
<nav class="app-sidebar-nav">
  <a href="/admin/tree" {{if eq .Section "tree"}}class="active"{{end}}>Arborescence</a>
  <a href="/admin" {{if eq .Section "dashboard"}}class="active"{{end}}>Tableau de bord</a>
  <a href="/admin/users" {{if eq .Section "users"}}class="active"{{end}}>Utilisateurs</a>
  <a href="/admin/groups" {{if eq .Section "groups"}}class="active"{{end}}>Groupes</a>
  <a href="/admin/clients" {{if eq .Section "clients"}}class="active"{{end}}>Clients</a>
  <a href="/admin/permissions" {{if eq .Section "permissions"}}class="active"{{end}}>Permissions</a>
  <a href="/admin/certificates" {{if eq .Section "certificates"}}class="active"{{end}}>Certificats</a>
  <a href="/admin/logs" {{if eq .Section "logs"}}class="active"{{end}}>Logs</a>
  {{if .DnsEnable}}<a href="/admin/dns" {{if eq .Section "dns"}}class="active"{{end}}>DNS</a>{{end}}
  <a href="/profil">Profil</a>
</nav>
{{end}}
