version: "3.9"

networks:
  Ducky-network:
    driver: bridge

services:
  vaultaire-db:
    image: mariadb:latest
    container_name: vaultaire-db
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=root
      - MARIADB_DATABASE=vaultaire
      - TZ=Europe/Paris
    volumes:
      - ./database:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - Ducky-network

  vaultaire_AD:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: vaultaire
    restart: unless-stopped
    depends_on:
      - vaultaire-db
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./database:/var/lib/mysql
    ports:
      - "666:666"
      - "443:443"
      - "389:389"
      - "636:636"
      - "8456:53/udp"
    networks:
      - Ducky-network
